In [1]:
s = {'apple', 'Mango', 'Orange', 'Banana', 'Grapes', 'Cherry'}

In [2]:
s

{'Banana', 'Cherry', 'Grapes', 'Mango', 'Orange', 'apple'}

In [4]:
s.remove('Cherry')

In [5]:
s

{'Banana', 'Grapes', 'Mango', 'Orange', 'apple'}

In [6]:
s.remove('Watermelon')

KeyError: 'Watermelon'

In [10]:
s.discard('apple')

In [11]:
s

{'Banana', 'Grapes', 'Mango', 'Orange'}

In [12]:
s.discard('Watermelon') # It will not give an error even when the item is not present in the given set.

In [13]:
s

{'Banana', 'Grapes', 'Mango', 'Orange'}

In [15]:
s.pop() #Removes the last item and display it.

'Grapes'

In [16]:
# clear() function/method empties the set ie. removes all the elements from the set
s.clear()

In [17]:
s

set()

In [18]:
# delete() keyword will delete the set completely:
del s

In [19]:
s

NameError: name 's' is not defined

In [20]:
# union() method joins two sets.
set1 = {'a', 'b', 'c', 'd'}
set2 = {1,2,3}

set3 = set1.union(set2)
print(set3)

set4 = set2.union(set1)
print(set4)

{'d', 1, 'b', 2, 3, 'c', 'a'}
{1, 2, 3, 'd', 'b', 'c', 'a'}

In [22]:
set4

{1, 2, 3, 'a', 'b', 'c', 'd'}

In [23]:
set4

{1, 2, 3, 'a', 'b', 'c', 'd'}

In [25]:
# update() method inserts the items of set2 into set1
set1.update(set2)
print(set1)

#Note: Both union() and update() will exclude any duplicates.

{1, 2, 3, 'a', 'd', 'b', 'c'}

In [26]:
# set() constructor is used to make a set:
a = set(('a', 'b', 'c')) # note the double round-brackets
print(a)

{'b', 'c', 'a'}

In [27]:
type(a)

set

In [28]:
b = ('a', 'b', 'c')
type(b)

tuple